<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
<!--         <div id="search">
          <form role="search" method="get" action="{{my_page.url}}/search/">
            <input id="searchString" name="searchString" placeholder="Be a Better Developer, etc." type="text">
            <input id="searchButton" name="googleSearchName" type="submit" value="Search">
          </form>
        </div> -->
        <script async src="https://cse.google.com/cse.js?cx=012955325730725765879:ypx3plxhog2"></script>
        <div class="gcse-search"></div>
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.contributors | escape }}</a>
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.about | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
        
      </ul>
    </div>
  </div>
</nav>
