<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
</div>
  <body>
<div id="search">
    <form role="search" method="get" action="{{ site.baseurl }}//search/">
        <input id="searchString" name="searchString"
                placeholder="Be a Better Developer, etc." type="text">
        <input id="searchButton" name="googleSearchName" type="submit" value="Search">
    </form>
    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
