---
layout: default
description:

book1:
book2:
book3:
book4:
book5:
book6:
book7:
book8:
book9:
book10:
book11:
book12:
book13:
book14:
book15:

fileName1:
fileName2:
fileName3:
fileName4:
fileName5:
fileName6:
fileName7:
fileName8:
fileName9:
fileName10:
fileName11:
fileName12:
fileName13:
fileName14:
fileName15:

folderName:
seriesName:
---
<div class="jumbotron shadow large container text-center card text-white bg-secondary mb-3" style="max-width: 40rem; font-weight: normal;" markdown="1">
  <h1>{{page.seriesName}}</h1>
  <h4>{{page.description}}</h4>
  [{{page.book1}}](/content/{{page.folderName}}/{{page.fileName1}})
  <a href="/content/{{page.folderName}}/{{page.fileName1}}" class="text-white">{{page.book1}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName2}}" class="text-white">{{page.book2}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName3}}" class="text-white">{{page.book3}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName4}}" class="text-white">{{page.book4}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName5}}" class="text-white">{{page.book5}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName6}}" class="text-white">{{page.book6}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName7}}" class="text-white">{{page.book7}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName8}}" class="text-white">{{page.book8}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName9}}" class="text-white">{{page.book9}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName10}}" class="text-white">{{page.book10}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName11}}" class="text-white">{{page.book11}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName12}}" class="text-white">{{page.book12}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName13}}" class="text-white">{{page.book13}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName14}}" class="text-white">{{page.book14}}</a>
  <a href="/content/{{page.folderName}}/{{page.fileName15}}" class="text-white">{{page.book15}}</a>
</div>
