---
layout: default
book1: 
book2:
book3:
book4:
book5:
book6:
book7:
book8:
book9:
book10:
book11:
book12:
book13:
book14:
book15:

fileName1: 
fileName2:
fileName3:
fileName4:
fileName5:
fileName6:
fileName7:
fileName8:
fileName9:
fileName10:
fileName11:
fileName12:
fileName13:
fileName14:
fileName15:

folderName:
seriesName:
---
<div class="jumbotron shadow large container text-center card text-white bg-secondary mb-3" style="max-width: 40rem; font-weight: normal;" markdown="1">
  <h1>{{page.seriesName}}</h1>
-  [<span markdown="1" class="text-white"> {{page.book1}}</span>]({{page.folderName}}/{{page.fileName1}}.md)
-  [<span markdown="1" class="text-white"> {{page.book2}}</span>]({{page.folderName}}/{{page.fileName2}}.md)
-  [<span markdown="1" class="text-white"> {{page.book3}}</span>]({{page.folderName}}/{{page.fileName3}}.md)
-  [<span markdown="1" class="text-white"> {{page.book4}}</span>]({{page.folderName}}/{{page.fileName4}}.md)
-  [<span markdown="1" class="text-white"> {{page.book5}}</span>]({{page.folderName}}/{{page.fileName5}}.md)
-  [<span markdown="1" class="text-white"> {{page.book6}}</span>]({{page.folderName}}/{{page.fileName6}}.md)
-  [<span markdown="1" class="text-white"> {{page.book7}}</span>]({{page.folderName}}/{{page.fileName7}}.md)
-  [<span markdown="1" class="text-white"> {{page.book8}}</span>]({{page.folderName}}/{{page.fileName8}}.md)
-  [<span markdown="1" class="text-white"> {{page.book9}}</span>]({{page.folderName}}/{{page.fileName9}}.md)
-  [<span markdown="1" class="text-white"> {{page.book10}}</span>]({{page.folderName}}/{{page.fileName10}}.md)
-  [<span markdown="1" class="text-white"> {{page.book12}}</span>]({{page.folderName}}/{{page.fileName12}}.md)
-  [<span markdown="1" class="text-white"> {{page.book13}}</span>]({{page.folderName}}/{{page.fileName13}}.md)
-  [<span markdown="1" class="text-white"> {{page.book14}}</span>]({{page.folderName}}/{{page.fileName14}}.md)
-  [<span markdown="1" class="text-white"> {{page.book15}}</span>]({{page.folderName}}/{{page.fileName15}}.md)
</div>
