---
layout: default
book1: TestBook 1
book2:
book3:
book4:
book5:
book6:
book7:
book8:
book9:
book10:
book11:
book12:
book13:
book14:
book15:

fileName1: testFile.md
fileName2:
fileName3:
fileName4:
fileName5:
fileName6:
fileName7:
fileName8:
fileName9:
fileName10:
fileName11:
fileName12:
fileName13:
fileName14:
fileName15:

folderName: testFolder
seriesName: Test Series
---
<div class="jumbotron shadow large container text-center card text-white bg-secondary mb-3" style="max-width: 40rem; font-weight: normal;" markdown="1">
  <h1>{{page.seriesName}}</h1>
  [<span markdown="1" class="text-white">{{page.book1}}</span>]({{page.folderName/page.fileName1}})
</div>
